html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/* Ajouter une règle de survol pour afficher le menu */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width:767.98px){
.navbar-collapse {
  position: absolute;
  top: 80px; /* hauteur du header */
  left: 0;
  right: 0;
  background-color: #f8f9fa; /* couleur de fond du menu */
  padding: 15px;
  z-index: 9999; /* valeur de z-index supérieure à celle des autres éléments */
}
}
#navbarContent{
  max-width: 50%;
}







/* Empêcher la fermeture du menu lorsque vous survolez le menu déroulant */
.navbar-dark .navbar-nav .dropdown-menu {
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s, margin-top 0.15s;
}
.navbar-dark .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

/* reduce size of the carousel*/
.carousel-item {
    height: 50vh;
    min-height: 250px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 3;
    left: 5;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    animation: slide-in 1s ease-in-out 1s forwards;
    opacity: 0;
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .carousel-caption p {
    font-size: 16px;
  }
  

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-overlay:hover {
    opacity: 1;
  }
  .card-overlay a:hover {
    text-decoration: underline;
}

  
  .bg-gray {
    background-color: #f8f9fa;
  }
  
  .text-primary {
    color: #007bff !important;
  }

  .card-img-overlay{
    position : relative;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
  }
  .article-img {
    margin-right: 10px;
  }

  footer .col-md-3 {
    border-left: 1px solid black;
    padding: 0 1rem;
  }
  footer .col-md-3:first-child {
    border-left: none;
    padding-left: 0;
  }
  footer ul li {
    margin-bottom: 0.5rem;
  }
  footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dcdcdc;
  }
  